.git
.vs
**/.idea
**/bin
**/obj
**/data
**/.env
**/.env.*
**/em.local.json
**/emapi-config.json
**/secrets.local.json
**/*.user
artifacts
dist
doc
plan
scripts
src/frontend
src/shared/Em.Ui.*
src/modules/Em.Test/Em.Test.Wpf
src/modules/Em.Test/Em.Test.Models.Ui
